
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* --------- Global style */

body {
    background-color: rgb(0, 0, 0);
    /* background: url(../images/galaxy.jpg) no-repeat center center/cover; */
    font-family: "Space Mono", sans-serif;
    font-weight: 100;
    color: #21d311;
    text-align: center;
    box-sizing: border-box;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 40px;
    padding-right: 5px;
}

/* --------- Game layout */

.avatar {
    height: 12vw;
    width: 12vw;
    border: 5px solid #21d311;
}

#player-avatar {
        background: url(../images/SpockPoisonedByLizard.webp) no-repeat center center/cover;
        position: relative;
        margin-bottom: 0px;
        border-radius: 0;
}


/* .game-table {
    background: url(../images/eclipse.jpg) no-repeat center center/cover;
    height: 100%;
    width: auto;
    margin-bottom: 0px;
    border-radius: 0;
}
} */

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}


#win {
    color: green;
    font-weight: bold;
}

#loss {
    color: red;
    font-weight: bold;
}

.answer-message {
    display: none;
    font-size: 1rem;
}


.scores {
    display: inline-block;
    padding: 25px;
}

/* --------- Buttons */

.btn--big {
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    border: 2px solid;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    margin: 10px 0px;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn--blue {
    border-color: blue;
    color: blue;
}

.btn--blue:active,
.btn--blue:hover,
.paper-choice {
    background-color: darkblue;
    color: white;
}

.btn--orange {
    border-color: orange;
    color: orange;
}

.btn--orange:active,
.btn--orange:hover,
.scissors-choice {
    background-color: darkorange;
    color: white;
}

.btn--red {
    border-color: red;
    color: red;
}

.btn--red:active,
.btn--red:hover,
.lizard-choice {
    background-color: darkred;
    color: white;
}

.btn--green {
    border-color: green;
    color: green;
}

.btn--green:active,
.btn--green:hover,
.rock-choice {
    background-color: darkgreen;
    color: white;
}

.btn--purple {
    border-color: #a7189f;
    color: #a7189f;
}

.btn--purple:active,
.btn--purple:hover,
.spock-choice {
    background-color: #a7189f;
    color: #ffffff;
}




/* --------- Media queries */

@media (max-width: 414px) {
    .controls-area {
        width: 100%;
    }


    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .game-area {
        height: 70vh;
    }
}