@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: "Arcade";
    src: url(../fonts/CosmicAlien-V4Ax.ttf);
}

/* --------- Global style */

body {
    background-color: rgb(0, 0, 0);
    /* background: url(../images/galaxy.jpg) no-repeat center center/cover; */
    font-family: "Space Mono", sans-serif;
    font-weight: 100;
    color: #21d311;
    text-align: center;
    box-sizing: border-box;
}

.no-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

/* Opening screen animation */
#boot-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    /* Black background stays */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#boot-line {
    background-color: black;
    /* White background for the expanded section */
    border: 2px solid limegreen;
    /* Green border around the expanding line */
    width: 0px;
    height: 0px;
    animation: expandLine 3s forwards;
}

#game-container {
    display: none;
    text-align: center;
    background-color: black;
    /* White background for the game area */
    width: 100%;
    height: 100%;
}

@keyframes expandLine {
    0% {
        width: 0;
        height: 0;
    }

    50% {
        width: 100%;
        height: 0;
    }

    100% {
        width: 100%;
        height: 100%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* --------- Heading */

.arcade-header {
    height: 15vh;
    width: 100%;
    background: url(../images/nebula.jpg) no-repeat center center/cover;
    position: relative;
    margin-bottom: 10px;
    border-radius: 0;
}

.arcade-header h1 {
    color: #21d311;
    font-family: "Arcade", sans-serif;
    margin: auto 0px;
}

/* --------- Game layout */


.avatar {
    height: 12vw;
    width: 12vw;
    border: 5px solid #21d311;
    margin: 20px 0;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.options {
    height: 100%;
    background-color: rgba(0, 255, 42, 0.1);
}


.game-table {
    min-height: 60vh;
    width: auto;
}

.game-area {
    min-height: 75vh;
}

/* Win Lose Display in game area */

#result-message {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Space Mono", sans-serif;
    padding: 20px;
    border-radius: 10px;
    display: none;
    /* Hidden by default */
    position: absolute;
    width: 100%;
    top: 90%;
    /* Vertically center */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.win {
    color: green;
}

.lose {
    color: red;
}

.draw {
    color: blue;
}


.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}


#win {
    color: green;
    font-weight: bold;
}

#loss {
    color: red;
    font-weight: bold;
}

.answer-message {
    display: none;
    font-size: 1rem;
}


.scores {
    display: inline-block;
    padding: 25px;
}

/* --------- Buttons */

.btn--big {
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    border: 2px solid;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    margin: 10px 0px;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn--blue {
    border-color: blue;
    color: blue;
}

/* .btn--blue:active, */
.btn--blue:hover,
.paper-choice {
    background-color: darkblue;
    color: white;
}

.btn--orange {
    border-color: orange;
    color: orange;
}

/* .btn--orange:active, */
.btn--orange:hover,
.scissors-choice {
    background-color: darkorange;
    color: white;
}

.btn--red {
    border-color: red;
    color: red;
}

/* .btn--red:active, */
.btn--red:hover,
.lizard-choice {
    background-color: darkred;
    color: white;
}

.btn--green {
    border-color: green;
    color: green;
}

/* .btn--green:active, */
.btn--green:hover,
.rock-choice {
    background-color: darkgreen;
    color: white;
}

.btn--purple {
    border-color: #a7189f;
    color: #a7189f;
}

/* .btn--purple:active, */
.btn--purple:hover,
.spock-choice {
    background-color: #a7189f;
    color: #ffffff;
}


.user-icon-played {
    position: absolute;
    font-size: 8rem;
    top: 30%;
    left: 150%;
    height: 16rem;
    width: 16rem;
}

.comp-icon-played {
    position: absolute;
    font-size: 8rem;
    top: 30%;
    right: 150%;
    height: 16rem;
    width: 16rem;
}

/* --------- Rules/Players Modal */

#players-modal-btn,
#rules-modal-btn,
#close-modal-btn {
    background-color: rgb(0, 0, 0) !important;
    border-color: rgb(0, 0, 0);
    color: #21d311;
    border: 0;

}

#players-modal-btn:focus,
#rules-modal-btn:focus {
    box-shadow: none;
    outline: none;
}

#rulesModal,
#playersModal {
    background-color: rgb(0, 0, 0);
}

.modal-content {
    background-color: rgb(0, 0, 0);
    border-width: 5px;
    border-color: #21d311;

}

#rules-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#btn-close {
    color: #21d311 !important;
}

.modal-header {
    border: 0;
}

.select-list {
    list-style-type: none;
}

.selected {
    text-decoration: underline;
}

/* --------- Media queries */

@media (max-width: 1200px) {
    .user-icon-played {
        position: absolute;
        font-size: 6rem;
        top: 30%;
        left: 120%;
        height: 12rem;
        width: 12rem;
    }

    .comp-icon-played {
        font-size: 6rem;
        top: 30%;
        right: 120%;
        height: 12rem;
        width: 12rem;
    }
}


@media (max-width: 768px) {


    .avatar {
        height: 20vw;
        width: 20vw;
    }

    #game-display {
        max-height: 30vh;
    }

    .comp-icon-played {
        font-size: 4rem;
        top: 120%;
        left: 25%;
        height: 8rem;
        width: 8rem;
    }

    .user-icon-played {
        font-size: 4rem;
        top: -240%;
        left: 55%;
        height: 8rem;
        width: 8rem;
    }

}

@media (max-width: 576px) {
    .comp-icon-played {
        font-size: 4rem;
        top: 115%;
        left: 57%;
        height: 8rem;
        width: 8rem;
    }

    .user-icon-played {
        font-size: 4rem;
        top: -210%;
        left: 27%;
        height: 8rem;
        width: 8rem;
    }
}


@media (max-width: 414px) {

    .avatar {
        height: 25vw;
        width: 25vw;
    }

    .btn--big {
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;

    }

    #game-display {
        max-height: 20vh;
    }

    @media (max-width: 320px) {


        .comp-icon-played {
            font-size: 3rem;
            top: 100%;
            left: 55%;
            height: 6rem;
            width: 6rem;
        }

        .user-icon-played {
            font-size: 3rem;
            top: -190%;
            left: 25%;
            height: 6rem;
            width: 6rem;
        }

    }
}