
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* --------- Global style */

body {
    background-color: rgb(0, 0, 0);
    /* background: url(../images/galaxy.jpg) no-repeat center center/cover; */
    font-family: "Space Mono", sans-serif;
    font-weight: 100;
    color: #21d311;
    text-align: center;
    box-sizing: border-box;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 40px;
    padding-right: 5px;
}

/* --------- Game layout */

    
.avatar {
    height: 12vw;
    width: 12vw;
    border: 5px solid #21d311;
    margin: 20px 0;
}

.avatar img {
    max-width: 100%;
    max-height: 100%;
}

#rules-modal {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 255, 42, );
}

/* #player-avatar {
        position: relative;
        margin-bottom: 0px;
        border-radius: 0;
} */


.game-table {
    min-height: 60vh;
    width: auto;
}

.game-area {
    min-height: 75vh;
}


.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}


#win {
    color: green;
    font-weight: bold;
}

#loss {
    color: red;
    font-weight: bold;
}

.answer-message {
    display: none;
    font-size: 1rem;
}


.scores {
    display: inline-block;
    padding: 25px;
}

/* --------- Buttons */

.btn--big {
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    border: 2px solid;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    margin: 10px 0px;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn--blue {
    border-color: blue;
    color: blue;
}

/* .btn--blue:active, */
.btn--blue:hover,
.paper-choice {
    background-color: darkblue;
    color: white;
}

.btn--orange {
    border-color: orange;
    color: orange;
}

/* .btn--orange:active, */
.btn--orange:hover,
.scissors-choice {
    background-color: darkorange;
    color: white;
}

.btn--red {
    border-color: red;
    color: red;
}

/* .btn--red:active, */
.btn--red:hover,
.lizard-choice {
    background-color: darkred;
    color: white;
}

.btn--green {
    border-color: green;
    color: green;
}

/* .btn--green:active, */
.btn--green:hover,
.rock-choice {
    background-color: darkgreen;
    color: white;
}

.btn--purple {
    border-color: #a7189f;
    color: #a7189f;
}

/* .btn--purple:active, */
.btn--purple:hover,
.spock-choice {
    background-color: #a7189f;
    color: #ffffff;
}


.user-icon-played {
    position: absolute;
    font-size: 6rem;
    top: 20%;
    left: 100%;
    height: 12rem;
    width: 12rem;
}

.comp-icon-played {
    position: absolute;
    font-size: 6rem;
    top: 20%;
    right: 100%;
    height: 12rem;
    width: 12rem;
}

/* --------- Rules Modal */
#rules-modal-btn,
#close-modal-btn {
    background-color: rgb(0, 0, 0) !important;
    border-color: rgb(0, 0, 0);
    color: #21d311;
    border: 0;
    
}

#rules-modal-btn:focus {
    box-shadow: none;
    outline: none;
  }

#RulesModal {
    background-color: rgb(0, 0, 0);
}

#rules-image {
    height: 40rem;
    width: 40rem;
}

.modal-content {
    background-color: rgb(0, 0, 0);
    border-width: 5px;
    border-color: #21d311;

}

#btn-close {
    color: #21d311 !important;
}

.modal-header {
    border: 0;
}

/* --------- Media queries */


@media (max-width: 768px) {
    .avatar {
        height: 22vh;
        width: 22vh;
    }
    #game-display {
        max-height: 30vh;
    }

    .user-icon-played {
        font-size: 4rem;
        top: 90%;
        left: 25%;
        height: 8rem;
        width: 8rem;
    }
    
    .comp-icon-played {
        font-size: 4rem;
        top: -210%;
        right: 25%;
        height: 8rem;
        width: 8rem;
    }

}

@media (max-width: 576px) {
    .user-icon-played {
        left: 15%;
    }
    
    .comp-icon-played {
        right: 15%;
    }
}


@media (max-width: 414px) {

    .avatar {
        height: 25vw;
        width: 25vw;
    }
    .btn--big {
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;

    }

    #game-display {
        max-height: 20vh;
    }

}

@media (max-width: 320px) {

}